@font-face {
    font-family: Freight Big Light;
    src: url(/assets/Freight/Freight-Big-Light/Freight-Big-Light.otf) format("opentype");
  }

.container{
    margin-top: 100px;
    font-family: "Freight Big Light";
}