@font-face {
    font-family: Freight Sans Light SC;
    src: url(/assets/Freight/Freight-Sans-Light-SC/Freight-Sans-Light-SC.otf) format("opentype");
  }

.font{
    font-family: "Freight Sans Light SC";
}

.mat-icon-button{
    font-family: "Freight Sans Light SC";
}

.mat-icon-button:hover{
    color: lightgray;
}

.main_icon{
    margin-left: auto;
    margin-top: 4px;
    padding-left: 2em;
}
a {
    font-size: 1.0em;
    text-decoration: none;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.icon{
    margin-top: 3px;
}

.menu{
    margin-right: 3px;
}


 
mat-toolbar{
    border-radius: 3px;
    position: fixed;
    z-index: 100;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}