<mat-toolbar color="primary" (click)="onToggleSidenav()" class="font">
        <button mat-icon-button class="mat-icon-button">
            <mat-icon class="menu">menu</mat-icon>
            <a routerLink="/home" fxHide.xs class="mat-icon-button">MENU</a>
        </button>
        <div fxFlex fxLayout fxLayoutAlign="center" >
            <mat-icon class="main_icon">king_bed</mat-icon><span class="text">Hotel</span>
        </div>
    <div fxFlex fxLayout fxLayoutAlign="end" >
        <ul fxLayout fxLayoutGap="12px" class="navigation-items">
            <li>
                <button mat-icon-button fxHide.xs>
                <mat-icon class="icon" >phone_outline</mat-icon>
            </button>
            </li>
            <li>
                <button mat-icon-button fxHide.xs>
                <mat-icon class="icon" >mail_outline</mat-icon>
            </button>
            </li>
            <li>
                <button mat-icon-button fxHide.xs>
                <mat-icon class="icon">place</mat-icon>
            </button>
            </li>
            <li>
                <a routerLink="/home" class="mat-icon-button">EN</a>
            </li>
            <li>
                <a routerLink="/home" class="mat-icon-button">HR</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
