/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Freight Big Light;
    src: url(assets/Freight/Freight-Big-Light/Freight-Big-Light.otf) format("opentype");
  }
html, body { height: 100%; margin: 0; }
body { margin: 0; font-family: "Freight Big Light", "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
