/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Freight Big Light;
    src: url(assets/Freight/Freight-Big-Light/Freight-Big-Light.otf) format("opentype");
  }
html, body { height: 100%; margin: 0; width: 100vw; }
body { margin: 0; font-family: "Freight Big Light", "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~ngx-toastr/toastr-bs4-alert';
