<!--RoomService--------------------------------------------------------------------------------------------------------------------->
  <!--Add Room Service-------------------------------------------------------------------------------------------------------------------------------->
  <button type="button" class="btn btn-primary mx-auto" (click)="openModal(addRoomService)">Add Room Service</button>
 
    <ng-template #addRoomService>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Room Service</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmitRoomService()">
          <input type="hidden" name="id" [(ngModel)]="roomService.id">
      
          <!-- name -->
          <div class="form-group">
            <label for="name">Service</label>
            <input
              type="text"
              name="name"
              [(ngModel)]="roomService.name"
              class="form-control"
              id="name"
              placeholder="Unesite uslugu">
          </div>
      
          <!-- price -->
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="number"
              name="price"
              [(ngModel)]="roomService.price"
              class="form-control"
              id="price"
              placeholder="Unesite cijenu">
          </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </ng-template>

    <!--Update Room Service-------------------------------------------------------------------------------------------------------------------------------->
  <button type="button" class="btn btn-primary mx-auto " (click)="openModal(addRoomService)">Update Room Service</button>
 
  <ng-template #addRoomService>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Add Room Service</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmitRoomService()">
        <input type="hidden" name="id" [(ngModel)]="roomService.id">
    
        <!-- name -->
        <div class="form-group">
          <label for="name">Service</label>
          <input
            type="text"
            name="name"
            [(ngModel)]="roomService.name"
            class="form-control"
            id="name"
            placeholder="Unesite uslugu">
        </div>
    
        <!-- price -->
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            name="price"
            [(ngModel)]="roomService.price"
            class="form-control"
            id="price"
            placeholder="Unesite cijenu">
        </div>

          <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </ng-template>
