<div class="container">
  <accordion [isAnimated]="true">
    <accordion-group heading="Room  Service">
      <p class="mx-2">Add, update or remove Room Services</p>
      <app-room-service-form></app-room-service-form>
    </accordion-group>
    <accordion-group heading="Room Type">
      <app-room-type-form></app-room-type-form>
    </accordion-group>
    <accordion-group heading="Connect Room Service &  Room Type">
      <app-room-service-type-form></app-room-service-type-form>
    </accordion-group>
  </accordion>
</div>