@font-face {
    font-family: Freight Big Light;
    src: url(/assets/Freight/Freight-Big-Light/Freight-Big-Light.otf) format("opentype");
  }
  @font-face {
    font-family: Freight Sans Light SC;
    src: url(/assets/Freight/Freight-Sans-Light-SC/Freight-Sans-Light-SC.otf) format("opentype");
  }

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
  
  body{
    margin:0;
    font-weight:normal;
    line-height:1.5;
    color:#333;
    overflow-x:hidden;
  }
  
  .v-header{
    height:100vh;
    display:flex;
    align-items:center;
    color:#fff;
  }
  
  .container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
    font-family: "Freight Sans Light SC";
  }
  
  .fullscreen-video-wrap{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display: block;
  }
  iframe {display: block; width: 100vw; height: 100vh; border: none;overflow: hidden;}
  
  .fullscreen-video-wrap video{
    min-height:100%;
    min-width:100%;
  }
  
  .header-overlay{
    height:100vh;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    z-index:1;
    background:#afb8bd;
    opacity:0.3;
  }
  
  .header-content{
    opacity:1 !important;
    width: 100vw;
    display: flex;
    color: rgb(249, 249, 253);
    font-family: "Freight Big Light";
    z-index:10  !important;
    height: 300px;
  }
  
  h1{
    font-size:50px;
    margin-bottom:0;
    width: 100%;
    justify-content: center;
    color: rgb(249, 249, 253);
    font-family: "Freight Big Light";
  }
  
  p{
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
    font-family: "Freight Big Light";
    width:100%;
  }

  
  @media(max-width:960px){
    .container{
      padding-right:3rem;
      padding-left:3rem;
    }
  }