<div class="bounds">
    <div  class="content" 
         fxLayout="row" 
         fxLayout.sm="column" 
         fxLayout.xs="column"
         fxFlexFill >
         
        <div fxFlex="35" class="sec1" >
            <h1>NASLOV HOTELA</h1>
            <p>Tekst koji opisuje apartman</p>
        </div>
        <div fxFlex="65" class="sec2" >
          <carousel [isAnimated]="true">
            <slide>
              <img src="https://i.pinimg.com/originals/c6/60/24/c66024ea79527d9bbafe79ed171558b9.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="https://i.pinimg.com/originals/18/40/f4/1840f47447d6727f9591b1127ea0db71.jpg" alt="second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="http://hd.wallpaperswide.com/thumbs/interior_design-t2.jpg" alt="third slide" style="display: block; width: 100%;">
            </slide>
          </carousel>
        </div>
        
    </div>
    
  </div>
