<div id="top" style="right: 17px;" class="is_stuck">
    <ul>
        <li>
            <a href="#" id="showMenu">
                Menu
            </a>
        </li>
        <li>
            <a href="#" id="showBook">
                Book &amp; Shop
            </a>
        </li>
    </ul>
    
<ul id="languages">

<li class="selected ">
<a href="/en?gclid=CjwKCAjwsan5BRAOEiwALzomX7C4tBQE-YcAPGJOYrh2YEfXZFWEXtqxea408h86n3XK1uyfGwVYSxoCmEoQAvD_BwE">En</a>
</li>

<li class="">
<a href="/de?gclid=CjwKCAjwsan5BRAOEiwALzomX7C4tBQE-YcAPGJOYrh2YEfXZFWEXtqxea408h86n3XK1uyfGwVYSxoCmEoQAvD_BwE">De</a>
</li>

</ul>

    <ul>
            <li>
                <a href="/en/events">Events</a>
            </li>
             <li>
                <a href="/en/contact-arrival/contact" class="icon tel">Contact</a>
            </li>
            <li>
                <a href="mailto:reservations@badruttspalace.com" class="icon email">E-Mail</a>
            </li>
            <li>
                <a href="/en/contact-arrival/arrival" class="icon map">Location</a>
            </li>
        </ul>
    <a href="/en">
        Badrutt's Palace St. Moritz Switzerland
    </a>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<div class="container pt-3">
    <router-outlet></router-outlet>
</div>

